<div class="post-meta">
    <span><img src="<%= config.root %>img/icon-calendar.svg" width="12px"> <%= date(post.date, null)%></span>

    <!--<span><img src="<%= config.root %>img/icon-printer.svg" width="12px"> <a href="http://freemind.pluskid.org/pdf/misc/disable-os-x-system-integrity-protection.pdf">Printable Version</a></span> -->
    
</div>
