<div id="post-epilogue" class="container">
    <div class="separator"></div>
    <div class="archive-link">
        <center><a href="<%= config.root %>archives">— Blog Archives —</a></center>
    </div>
    <div class="separator"></div>
</div>
<div class="copyright">
    Copyright © neutronest & Chiyuan Zhang 2012-2016 — Powered by Hexo
</div>
</body>
</html>
